.DS_Store
Gemfile.local
public/assets/*
public/system/*
.sass-cache/
config/database.yml
config/voltdb.yml
db/*.sqlite3
db/voltdb/compiled_schema.jar
db/voltdb/schema.sql
app/assets/javascripts/translations.js
log
tmp
*.rbc
.bundle
.rvmrc*
*.swp
*.swo

catalog-report.html
statement-plans/
voltdbroot/
voltdb_crash*.txt
