#cart
  a role="clear-cart" href="javascript:;" ng-click="criteria.reset()" : i.fa.fa-times-circle-o
  a.tag ng-repeat="criterion in criteria.picked" ng-click="criterion.toggle_state('active', 'inactive')" ng-class="{ active: criterion.is_active(), inactive: criterion.is_inactive() }" href="javascript:;" {{ criterion.name }}
