defaults: &defaults
  bin_path: /usr/bin/
  host: localhost
  api_port: 8080
  log_file: <%= "#{Rails.root}/log/voltdb.log" %>
  pid_file: <%= "#{Rails.root}/tmp/pids/voltdb.pid" %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
