$main-color: #5babd4
$minor-color: #11cc11

$realm-color: #000
$alternative-color: #000

$criterion-color: $main-color
$criterion-color-inactive: #ebf1f5
$criterion-text-color: #fff
$criterion-text-color-inactive: #7e8d9c
$property-color: #f0e48b
$property-color-inactive: #fffbde
$property-text-color: #b88240
$property-text-color-inactive: #c7a971

$midlevel-card-color: #41454a
$midlevel-card-color-darkened: #3a3e42


@mixin horizontal-list
  margin: 0
  li
    display: inline
    &:first-of-type
      padding-left: 0


@mixin toggleable($bgcolor-active, $bgcolor-inactive, $textcolor-active, $textcolor-inactive)
  background-color: $bgcolor-inactive
  color: $textcolor-inactive
  cursor: pointer
  border: 1px solid $bgcolor-active
  &.active
    background-color: $bgcolor-active
    color: $textcolor-active
