/*
 *= require_self
 *= require foundation
 *= require font-awesome
 *= require_tree .
 */


ul
  list-style: none

table.plain
  &, tr, td
    background: none !important
    border: none !important
    padding: 0


[role=main-content]
  padding: 30px 0
