.tag
  font-size: 0.8em
  background-color: #bbb
  padding: 0 6px
  line-height: 22px
  margin: 0 7px 5px 0
  display: block
  float: left
  &.active
    background-color: rgb(75, 192, 75)
    color: #fff

.root-criterion
  display: block
  padding: 10px 0

.criteria-drawer
  overflow: hidden
