@import '_settings'


@mixin toggleable
  background-color: $toggleable-default-color
  color: #000
  cursor: pointer
  &.active
    background-color: $toggleable-active-color
    color: #fff
    a.close
      color: #fff
  &.inactive
    background-color: $toggleable-inactive-color
  a.close
    font-size: 18px

.tag
  @include toggleable
  font-size: 0.8em
  padding: 0 6px
  line-height: 22px
  margin: 0 7px 5px 0
  display: block
  float: left
  &.active
    &.criterion
      background-color: $criterion-color
    &.property
      background-color: $property-color
