@import '_settings'


$middle-card-height: 500px

.details-placeholder

  *
    color: #fff
  a
    color: #ccc

  clear: both
  margin: 12px 0
  height: $middle-card-height
  width: 100%
  background-color: $midlevel-card-color !important
  overflow: hidden

  h5
    margin: 20px 0


  .clmn
    padding: 12px 20px
    border-right: 1px solid #505459
    height: $middle-card-height
    float: left
    &.left-clmn
      width: 330px
    &.right-clmn
      overflow: scroll
      float: none
      p
        margin-bottom: 0

  .arrow
    font-size: 32px
    width: 30px
    line-height: $middle-card-height
    color: #bbb
    &.enabled
      color: #fff
      cursor: pointer
      &:hover
        background-color: #919191
    &.right-arrow
      float: right
      border: none

  .headline
    margin-bottom: 12px
    overflow: hidden
    a
      color: #fff
      font-width: bold

  [role=main-image]
    display: block
    height: 160px
    overflow: hidden
    img
      width: 100%

  .criteria
    font-size: 14px
    .criterion
      width: 100%
      margin-bottom: 6px
      cursor: pointer
      .data
        height: 26px
        overflow: hidden
        .position
          width: 100px
          float: left
        .info
          width: 130px
          float: left
        .progressbar
          margin-left: 230px
          .wrapper
            width: 100%
            height: 16px
            position: relative
            background-color: #fff
          .stripe
            height: 100%
            position: absolute
            left: 0
            top: 0
      &.picked .stripe
        background-color: $main-color
      &.top .stripe
        background-color: #c1d5e3

    .reviews
      background-color: $midlevel-card-color-darkened
      border: 1px solid #505459
      margin: 6px 0 15px
      .review
        font-size: 12px
        padding: 8px 12px
        p
          font-size: 12px
          margin-bottom: 4px
