@import '_settings'


@mixin rating-index
  width: 52px
  height: 52px
  float: left
  background-color: $main-color
  color: #fff
  text-align: center
  border-radius: 30px
  font-size: 27px
  line-height: 52px
  small
    color: #fff
    font-size: 20px



.index
  @include rating-index
  margin-right: 20px
.title
  line-height: 25px

.card
  float: left
  width: 32%
  margin-right: 20px
  border: 1px solid #bbb
  border: 1px solid #ddd
  margin-bottom: 12px
  box-shadow: 0 4px 10px #bbb

  &.last-in-row
    margin-right: 0

  .headline
    position: relative
    height: 80px
    padding: 12px 16px

  .image
    display: block
    width: 100%
    height: 200px
    background-color: #eee
    position: relative
    overflow: hidden
    img
      width: 100%
      height: 100%
    .score
      background: $main-color
      width: 150px
      height: 40px
      padding: 10px
      position: absolute
      bottom: 12px
      right: 0px
      font-size: 20px
      color: white

  .tags-area
    padding: 12px 16px
    height: 150px
    overflow: auto
    > div
      overflow: hidden
      &.active
        margin-bottom: 10px
